body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: radial-gradient(circle, #7b9bff00 0%, #3868fdde 87%);
  background: #3868fdde;
}

main {
  width: 451px;
  height: 323px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 71px 49px 72px 50px;
}

p {
  font-weight: 400;
  color: #4f5665;
  text-align: left;
}

header {
  display: flex;
  gap: 15px;
}

.form-layout {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.container-input-auth {
  width: 424px;
}
.btn-sizing {
  width: 451px;
  height: 50px;
  border-radius: 6px;
  padding: 10px;
}
