*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Regular */
@font-face {
  font-family: "MontserratLocal";
  src:
    local("MontserratLocal"),
    url(../assets/fonts/Montserrat-Regular.ttf) format("opentype");
  font-weight: 100 400;
  font-style: normal;
  font-display: swap;
}

/* NunitoSans */
@font-face {
  font-family: "NunitoSans";
  src:
    local("NunitoSans"),
    url(../assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf)
      format("opentype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-nunitosans: "NunitoSans", sans-serif;
  --fs-title: 20px;
  --lh-title: 100%;
  --ls-title: 0%;
  --fs-base: 16px;
  --lh-base: 166%;
  --ls-base: 0%;
  --fs-heading-1: 30px;
  --lh-heading-1: 100%;
  --ls-heading-1: 0%;
  --fs-placeholder-v1: 12px;
  --lh-placeholder-v1: 100%;
  --ls-placeholder-v1: 0.75px;
  --fs-placeholder-v2: 14px;
  --lh-placeholder-v2: 20px;
  --ls-placeholder-v2: 0%;
  --clr-primary-v1: #3969fd;
  --clr-secondary: #ffffff;
  --clr-primary-v2: radial-gradient(circle, #7b9bff00 0%, #3868fdde 87%);
  --clr-font-blue: #2948ff;
  --clr-font-white: #ffffff;
  --clr-font-grey: #4f5665;
  --clr-font-black: #0b132a;
  --clr-font-red: #d00000;
}

body {
  font-family: var(--ff-montserrat);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
  font-weight: 400;
}

.title {
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  letter-spacing: var(--ls-title);
  color: var(--clr-font-blue);
}
.heading-1 {
  font-size: var(--fs-heading-1);
  line-height: var(--lh-heading-1);
  letter-spacing: var(--ls-heading-1);
  color: var(--clr-font-black);
}

.base {
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
  color: var(--clr-font-grey);
}

.placeholder-v1 {
  font-family: var(--ff-montserrat);
  font-size: var(--fs-placeholder-v1);
  line-height: var(--lh-placeholder-v1);
  letter-spacing: var(--ls-placeholder-v1);
  font-weight: 400;
  color: var(--clr-font-grey);
}

.placeholder-v2 {
  font-family: var(--ff-montserrat);
  font-size: var(--fs-placeholder-v2);
  line-height: var(--lh-placeholder-v2);
  letter-spacing: var(--ls-placeholder-v2);
  font-weight: 500;
  color: var(--clr-font-grey);
}

.container-auth {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-input-auth {
  font-family: var(--ff-montserrat);
  font-weight: 500;
}

.container-input-auth {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  width: 537px;
  height: 15px;
  border-radius: 8px;
  padding: 14px 13px;
  border: 1px solid var(--clr-font-grey);
}

.container-input-auth:focus {
  border-color: var(--clr-font-black);
}

.input-auth {
  width: 484px;
  height: 20px;
  border: none;
  font-family: var(--ff-montserrat);
  font-size: var(--fs-placeholder-v1);
  line-height: var(--lh-placeholder-v1);
  letter-spacing: var(--ls-placeholder-v1);
  font-weight: 400;
  color: var(--clr-font-grey);
  padding: 0;
}

.input-auth:active {
  border: none;
}

.input-auth:focus-visible {
  outline: none;
}

.btn-blue {
  background-color: var(--clr-font-blue);
  color: var(--clr-font-white);
  border: none;
}

.btn-white {
  background-color: var(--clr-font-white);
  color: var(--clr-font-blue);
  border: none;
}
