*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Regular */
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Regular.ttf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Medium.ttf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* semiBold */
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-SemiBold.ttf) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Bold.ttf) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* NunitoSans */
@font-face {
  font-family: "NunitoSans";
  src:
    local("NunitoSans"),
    url(../assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf)
      format("opentype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-nunitosans: "NunitoSans", sans-serif;
  --clr-primary-v1: #3969fd;
  --clr-secondary: #ffffff;
  --clr-primary-v2: radial-gradient(circle, #7b9bff00 0%, #3868fdde 87%);
  --clr-font-blue: #2948ff;
  --clr-font-white: #ffffff;
  --clr-font-grey: #4f5665;
  --clr-font-black: #0b132a;
  --clr-font-red: #d00000;
  --clr-font-blackgrey: #3a3d42;
  --clr-font-green: #1ec15f;
}

.font-clr-blue {
  color: var(--clr-font-blue);
}

.font-clr-white {
  color: var(--clr-font-white);
}

.font-clr-black {
  color: var(--clr-font-black);
}

.font-clr-blackgray {
  color: var(--clr-font-blackgray);
}

.font-clr-red {
  color: var(--clr-font-red);
}

body {
  font-family: var(--ff-montserrat);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
  font-weight: 400;
}

.bg-primary {
  background-color: var(--clr-font-blue);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-radial-gradient {
  background-color: var(--clr-primary-v2);
}

.text-v1 {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 400;
}

.text-v2 {
  font-size: 16px;
  line-height: 31px;
  letter-spacing: 0%;
  font-weight: 400;
}

.text-v3 {
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0%;
  font-weight: 400;
}

.text-v4 {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  font-weight: 600;
}

.text-v4 {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  font-weight: 400;
}

.title {
  font-family: var(--ff-nunitosans);
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 500;
}

.heading-1 {
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-font-black);
}

.heading-2 {
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 500;
}

.heading-3 {
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 700;
}

.heading-3-v2 {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

.text-dashboard {
  font-weight: 400;
  font-size: clamp(0.625rem, 0.1563rem + 1.5vw, 1rem);
  line-height: 24px;
  letter-spacing: -0.6%;
}

.text-dashboard-semibold {
  font-weight: 600;
  font-size: clamp(0.75rem, 0.4375xrem + 1vw, 1rem);
  line-height: 24px;
  letter-spacing: -0.6%;
}

.text-dashboardv2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.6%;
}

.text-dashboardv3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 10px;
}

.text-dashboardv4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
}

.text-dashboardv4-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
}

.text-dashboardv5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
}

.text-dashboardv6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0;
}

.text-dashboardv7 {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

.text-dashboardv8 {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.6%;
}
.placeholder-v1 {
  font-family: var(--ff-montserrat);
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: var(--clr-font-grey);
}

.placeholder-v2 {
  font-family: 14px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
  font-weight: 500;
  color: var(--clr-font-grey);
}

.border-input {
  border: 1px solid #dedede;
}

.container-auth {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-input-auth {
  font-family: var(--ff-montserrat);
  font-weight: 500;
}

.container-input-auth {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  width: 537px;
  height: 15px;
  border-radius: 8px;
  padding: 14px 13px;
  border: 1px solid var(--clr-font-grey);
}

.container-input-auth:focus {
  border-color: var(--clr-font-black);
}

.input-auth {
  width: 484px;
  height: 20px;
  border: none;
  font-family: var(--ff-montserrat);
  font-size: var(--fs-placeholder-v1);
  line-height: var(--lh-placeholder-v1);
  letter-spacing: var(--ls-placeholder-v1);
  font-weight: 400;
  color: var(--clr-font-grey);
  padding: 0;
}

.input-auth:active {
  border: none;
}

.input-auth:focus-visible {
  outline: none;
}

.container-input-auth:has(input:focus) {
  border-color: var(--clr-font-blue);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.btn-blue {
  background-color: var(--clr-font-blue);
  color: var(--clr-font-white);
  border: none;
  cursor: pointer;
}

.btn-white {
  background-color: var(--clr-font-white);
  color: var(--clr-font-blue);
  border: none;
  cursor: pointer;
}
